@{
    ViewData["Title"] = "About";
}
<h2>@SR["About"]</h2>

<h4>@SR["The service was developed as part of a master's thesis."]</h4>

<a href="https://github.com/VPyad/Programming-Tournament"><h4>@SR["Source code"]</h4></a>
<h4>@SR["Master: Vadim Pyadukhov,"] <a href="mailto:vpyadukhov@outlook.com">@SR["email"]</a></h4>
<h4>@SR["Supervisor: Oleg Gorbenko Danilovich,"] <a href="mailto:oleg_dan@mail.com">@SR["email"]</a></h4>
