@inject LocService SharedLocalizer
@{
    ViewData["Title"] = "Home Page";
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("Home Page")</h2>

<h4>@SharedLocalizer.GetLocalizedHtmlString("Login to use service.")</h4>
<h4>
    @SharedLocalizer.GetLocalizedHtmlString("If you do not have an account —") <a asp-area="Identity" asp-page="/Application/Index">@SharedLocalizer.GetLocalizedHtmlString("submit")</a> @SharedLocalizer.GetLocalizedHtmlString("an application")
</h4>
<h4>@SharedLocalizer.GetLocalizedHtmlString("If you cannot login —") <a href="mailto:admin@admin.com">@SharedLocalizer.GetLocalizedHtmlString("contact")</a> @SharedLocalizer.GetLocalizedHtmlString("administrator.")</h4>
