@page "{id}"
@inject LocService SL
@model StudentsModel
@using  Programming_Tournament.Areas.Lecturer.Pages.Tournaments
@{
}

<h2>@SL.GetLocalizedHtmlString("Add students to") @Model.ViewModel.TournamentName</h2>

<form method="post">
    <div class="btn-group" style="margin-top: 12pt">
        <button type="submit" asp-route-id="@Model.ViewModel.TournamentId"
                asp-route-sortState="@Model.ViewModel.SortViewModel.Current"
                asp-route-p="@Model.ViewModel.PageViewModel.PageNumber"
                asp-page-handler="Apply" class="btn btn-success">
            @SL.GetLocalizedHtmlString("Apply")
        </button>
        <a asp-area="Lecturer" asp-page="/Tournaments/Edit" asp-route-id="@Model.ViewModel.TournamentId" class="btn btn-primary">
            @SL.GetLocalizedHtmlString("Done")
        </a>
    </div>

    <table class="table" style="margin-top: 12pt">
        <tr>
            <th>@SL.GetLocalizedHtmlString("Add")</th>
            <th>@SL.GetLocalizedHtmlString("First name")</th>
            <th>@SL.GetLocalizedHtmlString("Second name")</th>
            <th>
                <a asp-page="./Students"
                   asp-route-id="@Model.ViewModel.TournamentId" asp-route-sortState="@Model.ViewModel.SortViewModel.YearNo">@SL.GetLocalizedHtmlString("Year no")</a>
            </th>
            <th>
                <a asp-page="./Students"
                   asp-route-id="@Model.ViewModel.TournamentId" asp-route-sortState="@Model.ViewModel.SortViewModel.FacultyName">@SL.GetLocalizedHtmlString("Faculty")</a>
            </th>
            <th>
                <a asp-page="./Students"
                   asp-route-id="@Model.ViewModel.TournamentId" asp-route-sortState="@Model.ViewModel.SortViewModel.LecternName">@SL.GetLocalizedHtmlString("Lectern")</a>
            </th>
            <th>
                <a asp-page="./Students"
                   asp-route-id="@Model.ViewModel.TournamentId" asp-route-sortState="@Model.ViewModel.SortViewModel.CurriculumName">@SL.GetLocalizedHtmlString("Curriculum")</a>
            </th>
            <th>
                <a asp-page="./Students"
                   asp-route-id="@Model.ViewModel.TournamentId" asp-route-sortState="@Model.ViewModel.SortViewModel.Degree">@SL.GetLocalizedHtmlString("Degree")</a>
            </th>
        </tr>
        @for (int i = 0; i < Model.ViewModel.Students.Count(); i++)
        {
        <tr>
            <td>
                <input asp-for="@(Model.ViewModel.Students[i].Value)" />
                <input hidden asp-for="@(Model.ViewModel.Students[i].Id)" />
                <input hidden asp-for="@(Model.ViewModel.Students[i].SourceValue)" />
            </td>
            <td>@Model.ViewModel.Students[i].FirstName</td>
            <td>@Model.ViewModel.Students[i].SecondName</td>
            <td>@Model.ViewModel.Students[i].YearNo</td>
            <td>@Model.ViewModel.Students[i].FacultyName</td>
            <td>@Model.ViewModel.Students[i].LecternName</td>
            <td>@Model.ViewModel.Students[i].СurriculumName</td>
            <td>@Model.ViewModel.Students[i].DegreeType</td>
        </tr>
        }
    </table>

    @if (Model.ViewModel.PageViewModel.HasPreviousPage)
    {
        <a asp-page="./Index"
           asp-route-sortState="@(Model.ViewModel.SortViewModel.Current)"
           asp-route-p="@(Model.ViewModel.PageViewModel.PageNumber - 1)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>@SL.GetLocalizedHtmlString("Previus")
        </a>
    }

    @if (Model.ViewModel.PageViewModel.HasNextPage)
    {
        <a asp-page="./Index"
           asp-route-sortState="@(Model.ViewModel.SortViewModel.Current)"
           asp-route-p="@(Model.ViewModel.PageViewModel.PageNumber + 1)"
           class="btn btn-default btn">
            @SL.GetLocalizedHtmlString("Next") <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</form>